# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app



# Emacs backup files
*~
\#*\#

# MacOS cruft
.DS_Store

# More executables

PolyFold/Polyfold
PolyFold/PolyFold
PolyFold/polyfold
PolyFold_Kyoto/Polyfold
Dev_OrthoDraw/TestOrthoDraw

Example_Knoodle/Knoodle
Example_Knoodle/Diagram_Reapr.txt
Example_Knoodle/Diagram_Simplify3.txt
Example_Knoodle/Diagram_Simplify4.txt
Example_Knoodle/Diagram_Simplify5.txt
Example_Knoodle/Diagram_unsimplified.txt

Dev_ClisbyTree2/Example_ClisbyTree2

KnoodleTool/ExampleKnot_simplified.tsv
KnoodleTool/knoodletool

# Markdown files
*.md 
# Claude Code local state
.claude/
